<li>
    {{!-- name of burger --}}
	{{name}}
	{{burger_name}}
    {{!-- button to indicate whether burger has been devoured or not --}}
	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eaten! Un-eat?{{else}}Devour It!{{/if}}
	</button>
	<button class="delete-button" data-id="{{id}}">Delete Burger</button>
</li>